<ol class="errors">
  <% @blogger.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
  <% end %>
</ol>

<%= form_for @blogger do |f| %>

  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :age %>
      <%= f.number_field :age %>
    </li>
    <li>
      <%= f.label :bio %>
      <%= f.text_field :bio %>
    </li>
  </ul>

  <%= f.submit %>

<% end %>
